# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

In [11]:
import pandas as pd
import re
df=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv')

In [12]:
df2=df.copy()

In [13]:
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [14]:
df['Response'].map(str)

0         No
1         No
2         No
3        Yes
4         No
        ...
10905     No
10906     No
10907     No
10908     No
10909    nan
Name: Response, Length: 10910, dtype: object

In [15]:
df.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [16]:
df=df[(df['Total Claim Amount']>1000) & (df['Response'] == 'Yes')].reset_index()

In [17]:
df

,index,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,189,189,OK31456,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,NaN
1,236,236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
2,419,419,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
3,442,442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
4,587,587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,10351,10351,FN44127,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,...,1.0,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
63,10373,10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,...,0.0,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,NaN
64,10487,10487,IX60941,Oregon,3508.569533,Yes,Extended,College,1/5/11,Medical Leave,...,1.0,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,NaN
65,10565,10565,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,NaN,NaN,NaN
66,10708,10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

In [18]:
df2=df2[df2['Response'] == 'Yes']
print(df2['Monthly Premium Auto'].mean())
df_Clv_PolicyType_Gender=df2.pivot_table(index=['Policy Type', 'Gender'], values=['Total Claim Amount', 'Customer Lifetime Value', 'Monthly Premium Auto'], aggfunc='mean')
#calculating
df_Clv_PolicyType_Gender['Cost/Expected Revenue']=((df_Clv_PolicyType_Gender['Total Claim Amount'])/(df_Clv_PolicyType_Gender['Customer Lifetime Value'])*100)
df_Clv_PolicyType_Gender['Breakeven']=((df_Clv_PolicyType_Gender['Total Claim Amount'])/(df_Clv_PolicyType_Gender['Monthly Premium Auto']))
#formating
df_Clv_PolicyType_Gender['Monthly Premium Auto']=df_Clv_PolicyType_Gender['Monthly Premium Auto'].round(2)
df_Clv_PolicyType_Gender['Total Claim Amount']=df_Clv_PolicyType_Gender['Total Claim Amount'].round(2)
df_Clv_PolicyType_Gender['Customer Lifetime Value']=df_Clv_PolicyType_Gender['Customer Lifetime Value'].round(2)
df_Clv_PolicyType_Gender['Cost/Expected Revenue']=df_Clv_PolicyType_Gender['Cost/Expected Revenue'].round(2).apply(lambda x: f'{x}%')
df_Clv_PolicyType_Gender['Breakeven']=df_Clv_PolicyType_Gender['Breakeven'].round(2)
df_Clv_PolicyType_Gender

94.41268758526603

                       Customer Lifetime Value  Monthly Premium Auto  \
Policy Type    Gender
Corporate Auto F                       7712.63                 94.30
               M                       7944.47                 92.19
Personal Auto  F                       8339.79                 99.00
               M                       7448.38                 91.09
Special Auto   F                       7691.58                 92.31
               M                       8247.09                 86.34

                       Total Claim Amount Cost/Expected Revenue  Breakeven
Policy Type    Gender
Corporate Auto F                   433.74                 5.62%       4.60
               M                   408.58                 5.14%       4.43
Personal Auto  F                   452.97                 5.43%       4.58
               M                   457.01                 6.14%       5.02
Special Auto   F                   453.28                 5.89%       4.91
               M                   429.53                 5.21%       4.97

The most profitable and less risk for the company are:
- Corporate policy, female, with an average of 6.33% of costs for the expected revenue; and Personal policy, female, with an av. of 8.52% of costs for the expected revenue.
- Women customers are, in average, less risky.
- Nevertheless, the total claims are equivalent to aproximately 4.8 months of premiums regardless the type and gender.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [19]:
st=df2['State'].value_counts()

Only California has more than 500
State
California    504
Oregon        419
Arizona       281
Nevada        140
Washington    122

In [20]:
# 1. Calculate the counts for all states.
#state_counts = df2['State'].value_counts()

# 2. Identify the index (the state names) of the states that have counts > 500.
# The result is a list-like Index object containing only the high-frequency state names.
#StatesToKeep = state_counts[state_counts > 500].index

# 3. Filter the entire DataFrame df2 using .isin() and assign the result back to df2.
#df2 = df2[df2['State'].isin(StatesToKeep)]

# Display the resulting filtered DataFrame
#df2

count=df2['State'].value_counts()
StatesToKeep=count[count>500].index
df2=df2[df2['State'].isin(StatesToKeep)]
df2

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
15,15,CW49887,California,4626.801093,Yes,Basic,Master,1/16/11,Employed,F,...,0.0,1,Special Auto,Special L1,Offer2,Branch,547.200000,SUV,Medsize,NaN
19,19,NJ54277,California,3746.751625,Yes,Extended,College,2/26/11,Employed,F,...,1.0,1,Personal Auto,Personal L2,Offer2,Call Center,19.575683,Two-Door Car,Large,A
122,122,EW33419,California,15114.402410,Yes,Basic,High School or Below,1/19/11,Medical Leave,F,...,1.0,2,Corporate Auto,Corporate L2,Offer2,Call Center,480.000000,SUV,Medsize,A
125,125,BM92346,California,3919.366722,Yes,Extended,High School or Below,1/5/11,Employed,F,...,0.0,1,Personal Auto,Personal L1,Offer3,Agent,558.099357,Four-Door Car,Small,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10750,10750,AY52869,California,4386.277558,Yes,Basic,College,2/11/11,Retired,M,...,0.0,5,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Medsize,NaN
10757,10757,TK45392,California,5107.163002,Yes,Basic,Bachelor,1/26/11,Employed,F,...,1.0,3,Personal Auto,Personal L2,Offer2,Agent,288.572108,Four-Door Car,Medsize,NaN
10780,10780,JW94491,California,11790.496170,Yes,Basic,College,1/3/11,Retired,M,...,0.0,2,Personal Auto,Personal L2,Offer2,Web,316.800000,Four-Door Car,Medsize,A
10823,10823,AH53588,California,4636.546470,Yes,Basic,College,1/1/11,Retired,M,...,1.0,5,Personal Auto,Personal L2,Offer2,Agent,316.800000,Two-Door Car,Medsize,NaN
10872,10872,XT67997,California,5979.724161,Yes,Extended,High School or Below,2/7/11,Employed,F,...,0.0,3,Personal Auto,Personal L3,Offer2,Agent,547.200000,Four-Door Car,Medsize,NaN

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [25]:
CLdf=df2.pivot_table(index=['Education', 'Gender'], values='Customer Lifetime Value', aggfunc= ['max', 'min', 'median'])
CLdf=CLdf.round(2)
CLdf

                                                max                     min  \
                            Customer Lifetime Value Customer Lifetime Value
Education            Gender
Bachelor             F                     33473.35                 2248.45
                     M                     24127.50                 2300.69
College              F                     25807.06                 2004.35
                     M                     22332.44                 2393.92
Doctor               F                      6265.34                 2395.57
                     M                     12731.95                 3436.13
High School or Below F                     41787.90                 2397.04
                     M                     12298.69                 2227.07
Master               F                     19160.99                 2574.02
                     M                     14435.67                 2551.23

                                             median
                            Customer Lifetime Value
Education            Gender
Bachelor             F                      5217.51
                     M                      4984.62
College              F                      6273.91
                     M                      6005.85
Doctor               F                      4014.45
                     M                     10972.07
High School or Below F                      5979.72
                     M                      6366.23
Master               F                      4861.74
                     M                      8509.85

In [ ]:
- Regarding the minimum, differences are negligible, both populations behave similarly.
- The maximum show much higher value in women compared with men with the same education, apart from the 'Doctors', where men retrieve almost the doble. 
- Although the median is in accordance with max. and min. for Doctors (and likely with the average), the median of people with Master education has a contrast with the maxs and mins, showing that there is at least 1 woman outstanding. But men with Master population represent more value.

The conclusion: maximum and minimum don't represent population, but median does. Men with Doctor and Master represent higher value than women, and the other levels of education they don't have a significant difference.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [22]:
# your code goes here